* {
  box-sizing: border-box;
}

body {
  background: #aaaa;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  padding: 0;
}
